*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
}
.link h1{
    text-align: center;
    padding: 30px 0;
}
.con h1{
    margin: 10px 20%;
    border:  2px red solid;
    background-color: red;
    border-radius: 30px;
    color: rgb(63, 66, 61);
}
.con h1:hover{
    transform: scale(1.03);
    transition: 1s;
    background-color: blue;
    color: aqua;
}
.link a{
    text-decoration: none;
    display: flex;
    gap: 20px;
}
.link a:hover{
    transform: scale(1.03);
    transition: 1s;
    background-color: blue;
}
a{
    font-size: 20px;
    text-align: left;
    border: 2px red solid;
    margin: 10px 20%;
    padding: 10px 0 10px 50px;
    border-radius: 10px;
    background-color: red;
}
i{
color: yellow;
}
h4{
    color: yellow;
}
h2{
    text-align: center;
    padding: 40px 0 0 0;
    
}